

@media (min-width: 767px) {
    .portfolio__grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 100px 300px;
            grid-auto-flow: dense;
        }
}

.gallery-item {
    filter: brightness(75%);
    width: 100%;
    height: 100%;
    position: relative;
}

@media (max-width: 768px) {
    .gallery-item {
        animation: fadeInUp;
        animation-duration: 7s;
        }
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: transform .7s cubic-bezier(.95, .97, .63, .63);
}

.gallery-item .text {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    transform: translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    color: #fff;
    background-color: rgba(105, 105, 105, 0.5);
    font-size: 25px;
    pointer-events: none;
    z-index: 4;
    transition: all 0.9s cubic-bezier(0.95, 0.97, 0.63, 0.63);
    backdrop-filter: blur(7.5px) saturate(1.8);
}

.gallery-item:hover .text {
    opacity: 1;
    position: absolute;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-2-5 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

@media screen and (max-width:500px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .w-1,
    .w-2,
    .w-3,
    .w-4,
    .w-5,
    .w-6 {
        grid-column: span 1;
    }
}


.gallery-item .image .story-position {
    object-position: 97% 50%;
}

.gallery-item .image .app-position {
    object-position: 100% 50%;


}

.gallery-item .image .cozycasa-position {
    object-position: 5% 50%;
}


/* TEXT HEADER */

.text-header-container{
    width: 100%;
    height: 550px;

}

@media (min-width: 767px) {
    .text-header-container {
        height: 550px;
    }
}

.text-header {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 35%;

    color: var(--color-text);
    font-size: 30px;
    left: 45%;

    height: 40px;
    top: 35%;
}

@media (min-width: 767px) {
    .text-header {
        display: block;
        margin-left: 45%;
        margin-top: 12%;
        left: 45%;
        top: 35%;
    }
}


p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.word {
    position: absolute;
    width: 450px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
    color: var(--accent);
}

.belize {
    color: var(--third-color);
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #2c3e50;
}


/* OTHERS */

footer{
    margin-top: 120px;
}

.footer__paragraph.paragraph.current{
    color: var(--accent);
}

.footer__paragraph.paragraph.current:hover {
    color: var(--color-text);
}

.current.strikethrough:after {
    transform: scaleX(1);
    transform-origin: center left;
}

.current.strikethrough:hover:after {
    transform: scaleX(0);
}

.footer__middle-container::after {
    left: 310px;
}
.list-nav-port{
    margin: 220px auto;
}


.modal__menu {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: transform 1.5s;
    z-index: 1;
}

.modal__menu.is-open {
    transform: translateX(0);
}

.modal__social-list {

    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-family: Rufina;
    font-size: 15px;
    text-transform: uppercase;
}